@model TheWorld.ViewModels.ContactViewModel
@{
    ViewData["Title"] = "Contact Us";
}
@section scripts{
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<h2>Contact</h2>
<form method="post">
  @if (ViewBag.Message != null)
  {
      <div>@ViewBag.Message</div>
  }
  <label asp-for="Name">Name</label>
  <div>
    <input asp-for="Name" />
  </div>
  <span asp-validation-for="Name"></span>
  <div>
    <label asp-for="Email">Email</label>
  </div>
  <div>
    <input asp-for="Email" type="email" />
  </div>
  <span asp-validation-for="Email"></span>
  <div>
    <label asp-for="Message">Message</label>
  </div>
  <div>
    <textarea asp-for="Message" cols="40" rows="4"></textarea>
  </div>
  <span asp-validation-for="Message"></span>
  <div><input type="submit" value="Send Message" /></div>
</form>